<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.match.dataassert.mapper.PointSystemMapper">
  <resultMap id="BaseResultMap" type="org.match.dataassert.datadomain.PointSystem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="inning_minutes" jdbcType="TINYINT" property="inningMinutes" />
    <result column="inning_count" jdbcType="TINYINT" property="inningCount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, inning_minutes, inning_count, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_point_system
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_point_system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.match.dataassert.datadomain.PointSystem" useGeneratedKeys="true">
    insert into t_point_system (`name`, inning_minutes, inning_count, 
      remark)
    values (#{name,jdbcType=VARCHAR}, #{inningMinutes,jdbcType=TINYINT}, #{inningCount,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.match.dataassert.datadomain.PointSystem" useGeneratedKeys="true">
    insert into t_point_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="inningMinutes != null">
        inning_minutes,
      </if>
      <if test="inningCount != null">
        inning_count,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="inningMinutes != null">
        #{inningMinutes,jdbcType=TINYINT},
      </if>
      <if test="inningCount != null">
        #{inningCount,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.match.dataassert.datadomain.PointSystem">
    update t_point_system
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="inningMinutes != null">
        inning_minutes = #{inningMinutes,jdbcType=TINYINT},
      </if>
      <if test="inningCount != null">
        inning_count = #{inningCount,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.match.dataassert.datadomain.PointSystem">
    update t_point_system
    set `name` = #{name,jdbcType=VARCHAR},
      inning_minutes = #{inningMinutes,jdbcType=TINYINT},
      inning_count = #{inningCount,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>